.service-news-container .content{
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
}

.service-info{
  grid-column: 8/9;
}

.news-blog{
  grid-column: 1/6;
}

.news-img > img{
  width:100%;
  width: 300px;
}

.news-container{
  max-width: 90%;
}

.news-container > .title > h1{
  padding:10px 0;
}

.news-desc{
  padding: 0 0px;
}

.service-news-container .news-desc p {
  margin: 1em 0;
}

.service-container{
  padding: 10px;
  text-align: center;
  border: thick double #eee;
}

.service-news-container .service-info .service-desc p {
  margin: 1em 0;
}



@media only screen and (max-width: 750px) {
  .service-news-container .content{
    display: inline-block;
  }

  .service-container{
    margin: 0 0 2em 0;
    padding: 10px;
  }
  
}
