/**NavBar*/
.navbar-container {
  margin: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navbar-container > ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  text-align: center;
  padding: 0 5px;
}

.navbar-container > ul > li > a {
  padding: 10px;
  color: #222020;
  text-decoration: none;
  font-weight: bolder;
  outline: none;

}

.navbar-container > ul > li > a:hover {
  color: #444040;
}



@media only screen and (max-width: 650px) {
  .navbar-container > ul {
    grid-gap: 15px;
  }
  .navbar-container > ul > li > a {
    padding: 5px;
    font-size: 1em;
  }

}

@media only screen and (max-width: 750px) {
  .navbar-container > ul {
    grid-gap: 10px;
  }
  .navbar-container > ul > li > a {
    padding: 5px;
    font-size: 1em;
  }

}

