/**Over all*/
*{
  border:0;
  padding: 0;
  box-sizing: border-box;
  
}

h1,h2,h3,h4,p{
  margin:0;
}

p{
  margin:0;
  font-size:14px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

